<!DOCTYPE html>
<html lang="es-ES">
  {%load static%}
  <head>
    <meta charset="utf-8" />
   
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="bodyArticle">
      <div class="article">
        <div class="article_text">
          <h1 class="articleTitle">{{article.title}}</h1>
          <a>{{article.content}}</a>
          <img
            class="article_photo"
            src="{% static 'img/' %}{{article.photo}}"
            alt="article"
          />
          <p>Comentarios</p>
            <div>
                {% for comment in comments %}
                
                    {% if comment.article_id == article.pk %}
                    
                        <div class="user">
                            {{comment.user}}
                        </div>

                        <div class="comment">
                            {{comment.comment}}
                        </div>

                    {% endif %}
                
                {% endfor %}
        </div>
      </div>
    </div>

  </body>
</html>
