{% extends 'main.html' %}
{%load static%}
{% block content %}






<div class="container mt-5 bg-1" >
  <div class="row">
    <div class="col-sm-2">
    </div>
   
    <div class="col-sm-12">
    </div>
    
          <h1 class="mt-5">{{article.title}}</h1>
          <a>{{article.content}}</a>
          <img
            class="article_photo"
            src="{% static 'img/' %}{{article.photo}}"
            alt="article"
          />
          <p>Comentarios</p>
            <div>
                {% for comment in comments %}
                
                    {% if comment.article_id == article.pk %}
                    
                        <div class="user">
                            {{comment.user}}
                        </div>

                        <div class="comment">
                            {{comment.comment}}
                        </div>

                    {% endif %}
                
                {% endfor %}
  

{% endblock content %}
