<html lang="es-ES">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <ul class="nav navbar-nav" class="nav">
      <li><a href="/main/">Home</a></li>
      <li><a href="/main/signup">Register</a></li>
      <li><a href="/main/signin">Login</a></li>
      <li><a href="/main/aboutus">Sobre Nosotros</a></li>
      <li><a href="/main/article">Articulos</a></li>
      <li><a href="/main/subscribe">Premium</a></li>
    </ul>
  </body>
</html>

