{% extends 'main.html' %}
{%load static%}
{% block content %}

    <div class="signupFrm">
        <form action="/signup" method="post">
          {% csrf_token %}
          <br>
          <br>
      
      
          <h1 class="title">Sign up</h1>
    
          <div class="inputContainer" >
            {{form.name}}
        </div>

        <br></br>

        <div class="inputContainer" >
            {{form.username}}
        </div>

        <br></br>
        
        <div class="inputContainer" >
            {{form.password}}
        </div>

        <br></br>
    
          <button type="submit" class="submitBtn"> Registrarse </button>
        </form>
      </div>

{% endblock content %}